<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <description>WebSphere specific web.xml file for Ivory Server (Java) for Linux</description>
  <display-name>Ivory Server (Java) for Linux</display-name>
  <context-param>
    <param-name>ivoryNativeLibrary</param-name>
    <param-value>/opt/gtsoftware/ivoryserver4j/bin/libIvoryServer4J.so</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryKeyLicFile</param-name>
    <param-value>/opt/gtsoftware/ivoryserver4j/license/key.lic</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryDeployDir</param-name>
    <param-value>/var/ivory/</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryHostCodepage</param-name>
    <param-value>37</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryCTGUrl</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>ivoryCTGSslKeyRingFile</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>ivoryCTGSslKeyRingPassword</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>ivoryCTGSslCipherSuites</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>ivoryForceIVS</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryTraceOverride</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryTraceMaxCDataLen</param-name>
    <param-value>2048</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryDataAccessConfigDir</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>ivoryInternalWebServicesSourceDir</param-name>
    <param-value>/opt/gtsoftware/ivoryserver4j/ivoryiws/</param-value>
  </context-param>
  <context-param>
    <param-name>ivoryWebAppIVW</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <servlet-name>IvoryServerServlet</servlet-name>
    <servlet-class>gtsoft.ivory.server.servlet.IvoryServerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IvoryServerInstallationVerificationServlet</servlet-name>
    <servlet-class>gtsoft.ivory.server.servlet.IVPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IvoryServerManageInternalWebServicesServlet</servlet-name>
    <servlet-class>gtsoft.ivory.server.servlet.IvoryManageIWSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IvoryTraceList</servlet-name>
    <jsp-file>/IvoryTraceList.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>UpdateTrialLicenseForm</servlet-name>
    <jsp-file>/UpdateTrialLicense.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>UpdateTrialLicense</servlet-name>
    <servlet-class>gtsoft.ivory.server.servlet.UpdateTrialLicenseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ivory_Gt3270wsImpl</servlet-name>
  	<servlet-class>Ivory.Gt3270wsImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>gt3270wsAdmin</servlet-name>
  	<servlet-class>Ivory.gt3270wsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IvoryServerInstallationVerificationServlet</servlet-name>
    <url-pattern>/ivp.srv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IvoryServerInstallationVerificationServlet</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IvoryServerManageInternalWebServicesServlet</servlet-name>
    <url-pattern>/manageiws.srv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IvoryServerManageInternalWebServicesServlet</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IvoryTraceList</servlet-name>
    <url-pattern>/tracelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTrialLicenseForm</servlet-name>
    <url-pattern>/UpdateTrialLicense.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTrialLicenseForm</servlet-name>
    <url-pattern>/license</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTrialLicense</servlet-name>
    <url-pattern>/UpdateTrialLicense.srv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>gt3270wsAdmin</servlet-name>
  	<url-pattern>/gt3270wsAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IvoryServerServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
</web-app>
